body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    height: 100vh;
}

.buttons {
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 32px;
    margin: 25px;
}

.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    margin: 0px;
    padding: 0px;
}

#wins #choiceText{
    font-size: 32px; 
    margin-top: 25px;  
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}